.logo1 {
  text-align: center;
  padding-top: 100px;
  font-size: 30px;
  color: #125899;
  text-shadow: 8px 1px 8px white;
  padding-left: 50px;
}
.icon {
  color: white;
  font-size: 10px;
}
.navbarLogo {
  color: #125899;
  text-shadow: 8px 1px 8px white;
  font-size: 40px;
  text-decoration: none;
}
.navbarLogo:hover {
  color: red;
}

.profile {
  color: white;
  right: 40px;
  position: absolute;
  font-size: 20px;
}
.profile button {
  margin-left: 50px;
}
