.form {
  background-color: #282c34;
  min-height: 100vh;
  display: flow;
  color: white;
}
.register_username {
  margin-right: 18px;
  padding-right: 270px;
  padding-bottom: 20px;
  font-weight: bold;
  font-size: 200%;
}
.submit_register:hover {
  text-align: center;
  font-size: 200%;
  padding-left: 20px;
  padding-right: 20px;
  background-color: white;
  width: 20%;
  border-radius: 12px;
  border: none;
  color: #125899;
  font-weight: bold;
}
.submit_register {
  text-align: center;
  font-size: 200%;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #125899;
  width: 20%;
  border-radius: 12px;
  border: none;
  color: white;
  font-weight: bold;
}
.register_password {
  margin-right: 18px;
  padding-right: 210px;
  padding-bottom: 20px;
  font-weight: bold;
  font-size: 200%;
}
.register_repeat_password {
  padding-right: 20px;
  padding-bottom: 20px;
  font-weight: bold;
  font-size: 200%;
}
.register {
  border: 10px white;
  text-align: center;
  color: white;
  padding-top: 50px;
}
.input_form {
  font-size: 150%;
  padding-right: 20px;
}
.logo {
  text-align: center;
  padding-top: 100px;
  font-size: 100px;
  color: #125899;
  text-shadow: 8px 1px 8px white;
  padding-left: 50px;
}
.icon {
  color: white;
  padding-bottom: 50px;
}
.register_form{
    text-align: center;
    font-size: 30px;
}
